ul.errors {
    list-style-type: none;
    padding: 0;
    color: red;
}

.flash-message {
    margin-top: 60px;
    border: 2px solid;
    margin-bottom: 10px;
    text-align: center;
}

.flash-message-warning {
    border-color: yellowgreen;
}

.flash-message-info {
    border-color: green;
}

.flash-message-error {
    border-color: red;
}

.sgrid-loader {
    background-color: blue;
    font-weight: bolder;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    margin-left: 40%;
}
/*

.sgrid-page {
    display: block;
}

.sgrid-page .page-number {
    display: inline-block;
    padding: 0 5px;
    border: 1px solid skyblue;
}
.page-number.activate{
    background: green;
}
.page-number.activate a{
    color: white;
    font-weight: bolder;
}*/

.sgrid.filters{
    display: block;
}
.sgrid.filters .filter-container{
    display: inline-block;
    padding: 0 5px;
}

.sgrid.filters .filter-container{
    display: inline-block;
}
.sgrid.filters .value{
    margin-top: 3px;
}
